@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model FoodReminderMVC.ViewModels.FridgesViewModel
@{
}

<h1 class="text-center">Fridges Available</h1>      
<div class="container">
    <div class="">
        @foreach (var fridge in Model.Fridges)
        {
            <div class="">
                <h2>Fridge name: @fridge.Name</h2>
                <p>Capacity: @fridge.Capacity</p>
                
                <h4>Items: </h4>
                @foreach (var product in fridge.Products)
                {
                    <hr class="dropdown-divider"/>
                    <p>Product Name: @product.Name</p>
                    <p>Added date: @product.AddedDate</p>
                    <p>Expiration date: @product.ExpirationDate</p>


                }
            </div>

        }
    </div>
</div>