@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model FoodReminderMVC.ViewModels.FridgesViewModel
@{
    
}
<div class="container">
    <div>
        <div class="d-flex justify-content-center">
            <h1 class="text-center ">Fridges Available</h1>
        </div>

        <div class="d-flex justify-content-end">
            <a class="btn btn-success " role="button" href="Fridge/Create">Create Fridge</a>
        </div>
    </div>
    <br/>
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-3">

        @foreach (var fridge in Model.Fridges)
        {
            @*<div class="card shadow p-1 m-1 col-12 col-md-6 col-lg-4">*@
            <div class="col col-lg-4 d-flex align-self-stretch ">
                <div class="card shadow d-flex flex-column m-1 p-1">


                    <div class="embed-responsive mx-auto text-center m-1 p-1">
                        <img class="" src="static/refrigerator.svg"/>
                    </div>
                    <div class="card-body text-center">
                        <h2>Fridge name: @fridge.Name</h2>
                        <p>Capacity: @fridge.Capacity</p>
                        @if (@fridge.Products != null)
                        {
                            <h4> Number of items: @fridge.Products.Count</h4>

                        }
                        @*@foreach (var product in fridge.Products)
                            {
                                <hr class="dropdown-divider"/>
                                <p>Product Name: @product.Name</p>
                                <p>Added date: @product.AddedDate</p>
                                <p>Expiration date: @product.ExpirationDate</p>


                            }*@
                        <a class="btn btn-primary" role="button" asp-action="Edit" asp-route-id="@fridge.Id">View</a>
                        <a class="btn btn-secondary" role="button" asp-action="Update" asp-route-id="@fridge.Id">Modify</a>
                        <button class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#DeleteConfirmationModal_@fridge.Name">Delete</button>
                        
                        
                        <!-- Modal -->
                        <div class="modal fade" id="DeleteConfirmationModal_@fridge.Name" tabindex="-1" aria-labelledby="DeleteConfirmationModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="DeleteConfirmationModalLabel">Delete Confirm?</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        Do you want to delete @fridge.Name fridge ?
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                        <form asp-action="Delete" asp-route-id="@fridge.Id" class="" data-bs-toggle="modal" data-bs-target="#DeleteConfirmationModal" id="" method="POST">
                                            <input type="submit" class="btn btn-danger" value="Delete"><br>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>